/*******************/ /*--/ GLOBAL COLONY24 /--*/ /*******************/
/********************************************************************/
* {
  margin: 0; padding: 0;
}
body {
  background-color: #3c536a;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}

/********************** TYPO *************************/
/*Typo Style*/
* {
  font-family: 'Bungee', sans-serif;
  font-weight: 400;
  color: #646464;
}

p {
  font-size: 20px;
  color: #fff;
}

a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a{
  color: rgba(0, 0, 0, 0);
}


/********************** GRID *************************/


section.container {
  display: grid;
  grid-template-columns: 155px 11.5vw auto;
  grid-template-rows: 16vh 54vh 30vh;
}

section.container > div {
  /*border: 1px solid red;
  background-color: rgba(233,171,88,.0);*/
}

/*ASIDE*/
/*div.aside
{
  background-color: #2c3e50;
}*/
div.actionList
{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  background-color: #34495e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 37px 24px 14.5px 20px;
}
#listText
{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  overflow:auto;
}
div.actionList div p
{
  font-family: 'Russo One', sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-weight: 200;
  color: #ffffff;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  line-height: 1.45;
  letter-spacing: .025em;
  margin-top: .8em;
}
div.actionList div p:nth-child(1)
{
  margin-top: 0em;
}
div.buttons
{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;

  background-color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16.5px 15px 14.5px 15px
}
div.buttons > div
{
  width: 100%;
  height: 46%;
  background-color: #16a085;
  border-radius: 12px;
  cursor: pointer;
  display: table;
}
p.button
{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  font-size: 1.4em;
  line-height: 1.1;
  letter-spacing: .025em;
}
#button-shop {
}
.button-classment {
  margin: 12px 0 0 0;
}



/*POP UP*/
#classement a{
  color : #000;
}
/* The Modal (background) */
.modal {
  font-size: 20px;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  cursor : default;
}

/* Modal Content */

#modal-content {
  background-color: #fefefe;
  overflow: scroll;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 70%;
}

/* Display PopUp shop */

ul#equipement-model li{
  margin : 50px 0;
}
ul#equipement-model li p{
  color : #000;
}
ul#equipement-model li input{
  margin-top: 30px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}


/*INFO PLAYER*/
div.player-info
{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 42px 45px 0px 45px;
  display: flex;
  justify-content: space-between;
}
div.player-info div
{
  height: 100%;
}
#player-name {
  width: 245px;
}
#player-name p
{
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  font-size: 1.4em;
  line-height: 1.1;
  letter-spacing: .025em;
}

#player-wallet
{
  width: 390px;
  padding: 0px 10px;
  display: flex;
  height: 100%;
}
#player-wallet div
{
  width: 45%;
  height: 100%;
  justify-content: space-between;
  display: flex;
}
#player-wallet div:nth-child(1)
{
  justify-content: flex-end;
}
#player-wallet div:nth-child(2)
{
  justify-content: flex-end;
}
#player-wallet div:nth-child(1) svg
{
  width: 38px;
  fill: #fff;
  margin-right: -2px;
}
#player-wallet div:nth-child(2) svg
{
  width: 22px;
  fill: #fff;
  margin-right: 6px;
  transform: translateY(-39%);
}
#player-wallet div p
{
  justify-content: flex-end;
  display: inline-block;
  text-align: end;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  font-size: 1.4em;
  line-height: 1.1;
  letter-spacing: .025em;
}


/*MAIN*/
div.main
{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 6;
}

ul#boats{
  margin-top: 150px;
  margin-left: 150px;
}

/********************** ASIDE *************************/
/*titre intro*/
div.element_middle{
  z-index: 1000;
  width: 100vw;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: absolute;
  top: 35%;
}
/*titre*/
div.element_middle h1 {
  display: block;

}

/********************** ANIMATION *************************/
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(.97, .97, .97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  animation-name: bounceIn;
  animation: bounceIn 2s ease-out !important;
  animation-fill-mode: forwards;
  backface-visibility: visible !important;
}
